{% extends 'base.html.twig' %}

{% block title %}New Produits
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-5 mx-auto">

				<h1>Create new Produits</h1>

				{{ include('produits/_form.html.twig') }}
				
			</div>

		</div>
		<a href="{{ path('app_produits_index') }}">back to list</a>
	</div>

{% endblock %}
