<footer class="footer py-5 bg-dark mt-5 fixed-bottom">
  <div class="container text-center">
    <span class="text-muted">&copy; {{'now'|date('Y')}} &middot; Place sticky footer content here.</span>
  </div>
</footer>